/* General */
	html {
		font-size: 62.5%;
	}

	body {
		font-family: Helvetica, Arial, sans-serif;
		font-size: 1.6rem;
		background: #FCFDFD;;
	}

/* Container */
	.container {
		max-width: 60rem;
		margin: 0 auto;
		padding: 0 1.6rem;
	}

/* header */
	.header {
		background: rgba(200, 200, 200, 0.7);
		padding-top: 1px;
		padding-bottom: 10px;
	}

	.header__button {
		background-color: #4CAF50; /* Green background */
		border: 1px solid green; /* Green border */
		color: white; /* White text */
		padding: 10px 24px; /* Some padding */
		cursor: pointer; /* Pointer/hand icon */
		/*float: left;  Float the buttons side by side */
	}

	.header__button.red {
		background-color: #F44336;
		border: 1px solid red;
	}

	 /* Style buttons */
	.header__button.loading {
		cursor: default;
		background-color: #698EA5;
	}

	.header__button.disabled {
		cursor: wait;
	}

/* Snackbar */
	.snackbar {
		/*visibility: hidden; // Hidden by default. Visible on click */
		/*display: none;*/
		min-width: 250px; /* Set a default minimum width */
		margin-left: -125px; /* Divide value of min-width by 2 */
		/*background-color: #333; // Black background color */
		background-color: #E3EBEF;
		/*color: #fff; // White text color */
		color: #f44336;
		text-align: center; /* Centered text */
		border-radius: 2px; /* Rounded borders */
		padding: 16px; /* Padding */
		position: fixed; /* Sit on top of the screen */
		z-index: 1; /* Add a z-index if needed */
		left: 50%; /* Center the snackbar */
		bottom: 15px; /* 30px from the bottom */
		opacity: 0;
	}

/* Main Area */
	#infoUL {
		margin: 0;
		padding: 0
	}

	#infoUL li {
		list-style-type: none;
	}

/* Accordion Buttons */
	.accordion__button {
		background-color: #eee;
		color: #444;
		cursor: pointer;
		padding: 18px 24px;
		/*width: 100%;*/
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}
	
	#accordion__panel__gpio {
		display: none;
	}

/* Gpio Buttons */
	#pinUL {
		margin: 0;
		padding: 0
	}

	#pinUL li {
		list-style-type: none;
		background-color: rgba(234, 234, 234, 0.3);

		/*width: 100%;*/
		padding: 10px 24px;
		margin-bottom: 20px;

		position: relative;
	}

	/* Proto */
	.proto__gpio__button {
		border: 1px solid black;
		color: white;

		cursor: pointer;
		padding: 10px 24px;

		position: absolute;
		right: 0;
		top: 0;

		border-radius: 1px;
	}

	.proto__gpio__button.on {
		background-color: green !important;
	}

	.proto__gpio__button.off {
		background-color: red !important;
	}